{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <label for="beers">Beers:</label>
    <input type="number" name="beers" id="beers">
    <br>
    <label for="wines">Wines:</label>
    <input type="number" name="wines" id="wines">
    <br>
    <label for="spirits">Spirits:</label>
    <input type="number" name="spirits" id="spirits">
    <br>
    <label for="ciders">Ciders:</label>
    <input type="number" name="ciders" id="ciders">
    <br>
    <input type="submit" value="Calculate">
</form>


{% endblock %}
