{% extends 'base.html' %}

{% block content %}

<h1>Hello User, Welcome to UniDrinks!!</h1> 

<br/>

<div class="jumbotron">
  <h1 class="display-4">Alcohol Support</h1>
  <p class="lead">Realising you have a problem with alcohol is the first big step to getting help.

You may need help if:
<br/>
You often feel the need to have a drink
<br/>
You get into trouble because of your drinking
<br/>
Other people warn you about how much you're drinking
<br/>
You think your drinking is causing you problems</p>
  <hr class="my-4">
  <p>A good place to start is with a GP. Try to be accurate and honest about how much you drink and any problems it may be causing you. If not, please follow the link below:</p>
  <a class="btn btn-primary btn-lg" href="https://www.alcoholics-anonymous.org.uk/" role="button">Get Help</a>
</div>
<h2>Excessive Drinking includes:</h2>
<div class="alert alert-primary" role="alert">
  Binge drinking: For women, binge drinking is 4 or more drinks consumed on one occasion (one occasion = 2-3 hours). For men, binge drinking is 5 or more drinks consumed on one occasion.
</div>
<div class="alert alert-success" role="alert">
  Underage drinking: Any alcohol use by those under age 21.
</div>
<div class="alert alert-danger" role="alert">
  Heavy drinking: For women, heavy drinking is 8 drinks or more per week. For men, heavy drinking is 15 drinks or more per week.
</div>
<div class="alert alert-warning" role="alert">
  Pregnant drinking: Any alcohol use by pregnant women
</div>

{% endblock %}

